<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">My Skills</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <ul>
            <li>Desktop Applications: Winforms, WPF</li>
            <li>Websites: ASP.NET (MVC), WordPress, React</li>
            <li>Databases: SQL Server, MongoDB</li>
            <li>Frameworks: .NET</li>
            <li>Mobiles: Android Studio, Ionic, Xamarin</li>
            <li>Known programming languages: C#, Python, C++, Java, Javascript, PHP</li>
        </ul>
    </div>
</div>