<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <span data-i18n="site.title">{{ site.title }}</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">
                        <span data-i18n="nav.home">Trang chủ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/random-number/' %}active{% endif %}" href="{{ '/random-number/' | relative_url }}">
                        <span data-i18n="nav.random_number">Random Number</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/random-wheel/' %}active{% endif %}" href="{{ '/random-wheel/' | relative_url }}">
                        <span data-i18n="nav.random_wheel">Random Wheel</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/password-generator/' %}active{% endif %}" href="{{ '/password-generator/' | relative_url }}">
                        <span data-i18n="nav.password_generator">Password Generator</span>
                    </a>
                </li>
                <!-- Dark mode toggle -->
                <li class="nav-item">
                    <button class="dark-mode-toggle" id="dark-mode-toggle" title="Toggle Dark Mode">
                        <i class="fas fa-moon" id="dark-mode-icon"></i>
                    </button>
                </li>
                <!-- Language selector will be added here by i18n.js -->
            </ul>
        </div>
    </div>
</nav>